<h1>pdf2</h1>
<p>pdfsrc---{{pdfsrc}}</p>
<embed width='80%' height='80%'  src="{{safe-string pdfsrc}}"  type="application/pdf" />

<iframe src="{{pdfsrc}}"></iframe>
<object width="100%" height="500" class="ember-js-pdf__frame" data={{byteArray}}></object>
{{js-pdf src=byteArray}}
<button {{action 'showpdf'}} >Show</button>

{{yield}}
